{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur SymRecipe</h1>
    <p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créés. Tu pourras partager tes recettes avec la communauté du site ou les garder en privé.</p>
    <hr class="my-4">
    <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{ path('security.registration')}}" role="button">Inscription</a>
    </p>
  </div>

  <h2 class="text-center mt-4">LES MEILLEURES RECETTES DU 1er TRIMESTRE 2024</h2> <!-- Ajout du titre en grand caractère -->

  <div style="margin-top: 2em;"></div> <!-- Saut de deux lignes -->

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre du cadre 1</h5>
          <p class="card-text">Texte explicatif du cadre 1.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre du cadre 2</h5>
          <p class="card-text">Texte explicatif du cadre 2.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre du cadre 3</h5>
          <p class="card-text">Texte explicatif du cadre 3.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre du cadre 4</h5>
          <p class="card-text">Texte explicatif du cadre 4.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre du cadre 5</h5>
          <p class="card-text">Texte explicatif du cadre 5.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre du cadre 6</h5>
          <p class="card-text">Texte explicatif du cadre 6.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}