{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil
{% endblock %}

{% block body %}
	{# <div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur SymRecipe</h1>
			<p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créés. Tu pourras partager tes recettes avec la communauté du site ou les garder en privé.</p>
			<hr class="my-4">
	
		</div>
	</div> #}



			
		<div class="container mt-4">
			<div class="card text-center">
				<div class="card-header">
					<h1>Bienvenue sur SymRecipe</h1>
				</div>
			<div class="card-body">
					<h3 class="card-title">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créés.</h3>
					<p class="card-text"><h5>Tu pourras partager tes recettes avec la communauté du site ou les garder en privé.</h5></p>
					<a href="#" class="btn btn-primary">Aller c'est parti !</a>
			</div>
			</div>
		</div>


{% endblock %}
