{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur SymRecipe</h1>
    <p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créés. Tu pourras partager tes recettes avec la communauté du site ou les garder en privé.</p>
    <hr class="my-4">
    <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{ path('security.registration')}}" role="button">Inscription</a>
    </p>
  </div>

    {# <h2 class="text-center mt-4 text-primary">LES MEILLEURES RECETTES DU 1er TRIMESTRE 2024</h2> #}

  <h2 class="text-center mt-4">LES MEILLEURES RECETTES DU 1er TRIMESTRE 2024</h2> <!-- Ajout du titre en grand caractère -->

  <div style="margin-top: 2em;"></div> <!-- Saut de deux lignes -->

  <div class="row">

  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Citronnade, limonade et eau détox</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Vous voulez réaliser une citronnade, une limonade et une boisson détox maison ? Rien de tel que les recettes à base de citron pour prendre soin de soi.</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Apéritif aux fruits et légumes</div>
  <div class="card-body">
    <h4 class="card-title">Secondary card title</h4>
    <p class="card-text">Envie de fraîcheur à l’apéro ? Pensez aux fruits et légumes ! Légers et savoureux, ils complètent ou remplacent avantageusement crackers, cacahuètes.</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Mousse dessert</div>
  <div class="card-body">
    <h4 class="card-title">Success card title</h4>
    <p class="card-text">Il ne suffit pas de savoir comment faire de la mousse en cuisine, il faut savoir quelle mousse dessert faire ! Au Thermomix, au fruit, au chocolat (bien sûr).</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
  <div class="card-header">Yassa Poulet</div>
  <div class="card-body">
    <h4 class="card-title">Danger card title</h4>
    <p class="card-text">6 cuisses de poulets fermiers,
2 gros oignons,
2 citrons jaunes,
2 citrons verts,
1 cuillère à soupe de moutarde forte,
1 clou de girofle,
1 jus de citron jaune,
.</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Vinaigrette orientale</div>
  <div class="card-body">
    <h4 class="card-title">Warning card title</h4>
    <p class="card-text">1 morceau de gingembre frais de 1 cm,
1 gousse d'ail,
1 échalote ou 1 ciboule,
1/2 petit chili rouge,
le jus de 1 citron vert,
1 cuillère(s) à soupe de sauce de poisson thaï,
3 cuillère(s) à soupe d'huile de cacahuète.</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Brochettes d’agneau aux épices</div>
  <div class="card-body">
    <h4 class="card-title">Info card title</h4>
    <p class="card-text">Les brochettes :
1 épaule d'agneau désossée et dégraissée,
1 poivron rouge,
1 poivron vert,
2 gousses d'ail,
</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header">Attiéké poisson grillé</div>
  <div class="card-body">
    <h4 class="card-title">Garba</h4>
    <p class="card-text">1 tranche
de thon frais de 300 g,
1 boule
de couscous de manioc, que l'on trouve facilement dans les épiceries exotiques
sel, oignon, huile, piment, cube magie

</p>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">Riz bouillie à la sauce</div>
  <div class="card-body">
    <h4 class="card-title">Da</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

    {# <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Citronnade, limonade et eau détox</h5>
          <p class="card-text">Vous voulez réaliser une citronnade, une limonade et une boisson détox maison ? Rien de tel que les recettes à base de citron pour prendre soin de soi. Que ce soit pour vous rafraîchir en été ou encore pour détoxifier votre organisme, le citron présente de nombreux bienfaits pour notre santé.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Apéritif aux fruits et légumes</h5>
          <p class="card-text">Envie de fraîcheur à l’apéro ? Pensez aux fruits et légumes ! Légers et savoureux, ils complètent ou remplacent avantageusement crackers, cacahuètes et autres charcuteries. Brochettes de tomate-mozza, tartare de tomate en verrine, bouchées au concombre ou champignons farcis, quels que soient vos goûts.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mousse dessert</h5>
          <p class="card-text">Il ne suffit pas de savoir comment faire de la mousse en cuisine, il faut savoir quelle mousse dessert faire ! Au Thermomix, au fruit, au chocolat (bien sûr), à la vanille… Votre mousse dessert peut aussi être plus originale. Mousse d’été, terrine de fraise ou trois chocolats, ça vous dit ?</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Yassa Poulet</h5>
          <p class="card-text">6 cuisses de poulets fermiers
2 gros oignons
2 citrons jaunes
2 citrons verts
1 cuillère à soupe de moutarde forte
1 clou de girofle
1 jus de citron jaune
1 pincée de citronnelle en poudre
1 pincée de piment de la jamaïque
20 g de beurre
3 cuillère à soupe de moutarde forte
4 gousses d'ail
sel, poivre</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vinaigrette orientale</h5>
          <p class="card-text">1 morceau de gingembre frais de 1 cm environ
1 gousse d'ail
1 échalote ou 1 ciboule
1/2 petit chili rouge
le jus de 1 citron vert
1 cuillère(s) à soupe de sauce de poisson thaï
3 cuillère(s) à soupe d'huile de cacahuète
1 cuillère(s) à soupe d'huile de sésame grillée</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Brochettes d’agneau aux épices</h5>
          <p class="card-text">les brochettes :
1 épaule d'agneau désossée et dégraissée
1 poivron rouge
1 poivron vert
2 gousses d'ail
1 gros oignon
6 branches de coriandre
6 branches de persil
1 cuillère(s) à café de cumin en poudre
piment doux ou fort
la salade 
</p>
        </div>
      </div>
    </div>
  </div> #}
</div>
{% endblock %}